body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    padding: 10pt;
}

p {
    margin: 1pt;
}

.highlight {
    font-weight: bold;
}

#contact {
    padding: 5pt;
}

#reference {
    display: inline-table;
    border: 1px solid black;
    padding: 5pt;
}

.variation {
    align-self: flex-end;
    margin: 10pt 0;
}

.laws {
    font-size: 8pt;
    margin-top: 5pt;
}

#project-total {
    padding: 10px;
}


table {
    border-spacing: 0;
}

.project-row {
    white-space: nowrap;
    padding: 0 5pt;
    font-weight: bold;
}

table.weeks {
    width: 100%;
}

table.weeks th {
    vertical-align: top;
    border-bottom: 1px solid;
    white-space: nowrap;
}

table.weeks td.centered {
    text-align: center;
    vertical-align: middle;
}

table.sums td {
    padding: 0 5pt;
}

.project {
    border: 3px solid gray;
    margin: 5px 0;
    padding: 5px;
}

/* reduce the margin for a most compact layout */
h3 {
    margin: 5px;
}

.description {
    width: 100%
}

@media print {
    footer {
        position: fixed;
        bottom: 0;
    }
}
